In [9]:
!pip list

Package                   Version
------------------------- -----------
anyio                     4.12.1
argcomplete               3.6.3
attrs                     25.4.0
beautifulsoup4            4.14.3
blivet                    3.12.1
Brlapi                    0.8.7
certifi                   2025.7.9
cffi                      2.0.0
charset-normalizer        3.4.3
click                     8.1.7
cockpit                   354
crypt_r                   3.13.1
cupshelpers               1.0
dasbus                    1.7
dbus_next                 0.2.3
dbus-python               1.4.0
distro                    1.9.0
dnf                       4.24.0
fedora-third-party        0.10
file-magic                0.4.0
h11                       0.16.0
httpcore                  1.0.9
httpx                     0.28.1
humanize                  4.13.0
idna                      3.10
iso639                    0.1.4
jsonschema                4.23.0
jsonschema-specifications 2024.10.1
langtable                 0.0.69
libcomps                  0.1.23
libdnf                    0.75.0
libdnf5                   5.2.17.0
louis                     3.33.0
lxml                      6.0.1
nftables                  0.1
olefile                   0.47
packaging                 25.0
perf                      0.1
pexpect                   4.9.0
pid                       3.0.4
pillow                    11.3.0
pip                       25.1.1
ply                       3.11
productmd                 1.49
ptyprocess                0.7.0
pwquality                 1.4.5
PyAudio                   0.2.13
pycairo                   1.28.0
pycparser                 2.22
pycups                    2.0.4
pyenchant                 3.2.2
PyGObject                 3.54.5
pyinotify                 0.9.6
pykickstart               3.66
pyparted                  3.13.0
PySocks                   1.7.1
python-augeas             1.2.0
python-dateutil           2.9.0.post0
python-linux-procfs       0.7.3
python-meh                0.52
python-pam                2.0.2
pyudev                    0.24.3
pyxdg                     0.27
PyYAML                    6.0.2
pyynl                     0.0.1
RapidFuzz                 3.12.2
referencing               0.36.2
regex                     2025.10.23
requests                  2.32.5
requests-file             2.0.0
requests-ftp              0.3.1
rpds-py                   0.27.0
rpm                       6.0.1
selinux                   3.9
sepolicy                  3.9
setools                   4.6.0
setuptools                78.1.1
simpleline                1.9.0
six                       1.17.0
sniffio                   1.3.1
sos                       4.10.2
soupsieve                 2.8
systemd-python            235
typing_extensions         4.15.0
urllib3                   2.6.3
uv                        0.9.26
xkbregistry               0.3

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("taxi_zone_lookup.csv")

In [12]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
df.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='str')

In [14]:
df.dtypes

LocationID      int64
Borough           str
Zone              str
service_zone      str
dtype: object

In [15]:
df.shape

(265, 4)

In [19]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [20]:
print(engine)

Engine(postgresql://postgres:***@localhost:5433/ny_taxi)

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [22]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

## Since the size of data is only 200 x 4, no need to chunk and iter it and can be directly appended 

### Note : will improve this part later

In [23]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

265