In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [3]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [4]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='str')

In [25]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                        Int32
PULocationID                      int32
DOLocationID                      int32
passenger_count                   Int32
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int32
trip_type                         Int32
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [11]:
df['RatecodeID'].unique()

array([ 1.,  5.,  4.,  2.,  3., 99., nan])

## Converting float to int whenever appropiate

In [6]:
df['RatecodeID'] = df['RatecodeID'].astype('Int32')

In [7]:
df['RatecodeID'].unique()

<IntegerArray>
[1, 5, 4, 2, 3, 99, <NA>]
Length: 7, dtype: Int32

In [8]:
df['passenger_count'].unique()

array([ 1.,  2.,  5.,  3.,  6.,  4.,  0.,  9.,  8.,  7., nan])

In [9]:
df['passenger_count'] = df['passenger_count'].astype('Int32')

In [10]:
df['passenger_count'].unique()

<IntegerArray>
[1, 2, 5, 3, 6, 4, 0, 9, 8, 7, <NA>]
Length: 11, dtype: Int32

In [16]:
df['payment_type'].unique()

<IntegerArray>
[1, 2, 4, 3, 5, <NA>]
Length: 6, dtype: Int32

In [15]:
df['payment_type'] = df['payment_type'].astype('Int32')

In [31]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag             category
RatecodeID                        Int32
PULocationID                      int32
DOLocationID                      int32
passenger_count                   Int32
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int32
trip_type                         Int32
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [20]:
df['trip_type'].unique()

<IntegerArray>
[1, 2, <NA>]
Length: 3, dtype: Int32

In [19]:
df['trip_type'] = df['trip_type'].astype('Int32')

In [22]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1,74,42,1,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1,1,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1,74,42,2,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2,1,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1,83,160,1,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1,1,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1,166,127,1,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1,1,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1,166,262,1,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1,1,2.75,0.0

In [29]:
df['store_and_fwd_flag'].unique()

['N', 'Y', NaN]
Categories (2, str): ['N', 'Y']

In [28]:
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].astype('category')

In [30]:
df['passenger_count'].value_counts().sort_index()

passenger_count
0      612
1    33852
2     4707
3      502
4      257
5      954
6      442
7        5
8        5
9        7
Name: count, dtype: Int64

In [32]:
len(df)

46912

In [33]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [34]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" INTEGER,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count INTEGER,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type INTEGER,
	trip_type INTEGER,
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [44]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace', index=False)
print("Table created")

Table created

In [45]:
len(df)

46912

In [46]:
chunk_size=10000
from tqdm.auto import tqdm

for start in tqdm(range(0, len(df), chunk_size)):
    end = start + chunk_size
    df_chunk = df.iloc[start:end]

    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi"   
    )

print("Data Inserted")

  0%|          | 0/5 [00:00<?, ?it/s]

Data Inserted